.notifications {
    width: 350px;
    max-width: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 10px;
    bottom: 5px;
    z-index: 99999;
    .item {
        width: 100%;
        min-height: 15px;
        margin: 5px 0;
        padding: 15px 20px;
        box-sizing: border-box;
        cursor: pointer;
        &.success {
            background: green;
        }
        &.danger {
            background: #F44336;
        }
        &.warning {
            background: #ffb023;
        }
        &.cookies {
            background: #bd10e0;
            .message {
                font-size: 18px;
                text-align: center;
            }
        }
        .title {
            color: #fff;
            font-size: 26px;
            font-family: Lato, sans-serif;
        }
        .message {
            font-family: Lato, sans-serif;
            color: #fff;
            padding-top: 10px;
            font-size: 16px;
        }
        .flaticon-delete{
            position: absolute;
            top: 10px;
            right: 8px;
            color: #ffffff;
            cursor: pointer;
            &:before{
                font-size: 14px;
            }
        }
    }
}
