// ↓↓↓ MODULE: HEADER ↓↓↓
style
  include header.css
.header
  .header__col
    img.header__logo-img(alt="logo" src="../img/logo.png")
    .header__logo-name жабка
  .header__col
    h1.header__title Рaхунок
    h2.header__transcription частково оплачено
// ↑↑↑ /MODULE: HEADER ↑↑↑