// ↓↓↓ MODULE: HEADER ↓↓↓
style
  include main-btn.css

.main-btn__wrapper
  //- button.main-btn__btn.main-btn__btn_cancel(type="button") Скасовано
  a.main-btn__btn.main-btn__btn_cancel(href="#") Скасовано
  .main-btn__additional
    img.main-btn__img(alt="support" src="../img/e-support.jpg")
    p.main-btn__p *одна покупка різними картками

// ↑↑↑ /MODULE: HEADER ↑↑↑