// ↓↓↓ MODULE: HEADER ↓↓↓
style
  include customer-info.css
.customer-info
  .customer-info__row.customer-info__row_1col
    .customer-info__title Виписаний на покупця:
    .customer-info__data.customer-info__data_bl Вернигородський-Синьовертий-Смазнов Едуард
  .customer-info__row.customer-info__row_2col
    .customer-info__col
      .customer-info__title Кінцева дата оплати:
      .customer-info__data.customer-info__data_r 04.02.2022 - 13:44
    .customer-info__col
      .customer-info__title Номер рахунку
      .customer-info__data.customer-info__data_r Wjhj873hjQ
  .customer-info__row.customer-info__row_2col
    .customer-info__col
      .customer-info__title Контакти покупця:
      .customer-info__data.customer-info__data_bl +380672207067
    .customer-info__col.customer-info__col_transparent
      include ../main-btn/main-btn_review-error.pug
// ↑↑↑ /MODULE: HEADER ↑↑↑