html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  outline: none;
}

@font-face {
  font-family: c;
  src: url(../fonts/consola.ttf);
}
@font-face {
  font-family: cb;
  src: url(../fonts/consolab.ttf);
}
@font-face {
  font-family: "sfptl";
  font-style: normal;
  font-weight: 100;
  src: url("http://wtwt.pp.ua/temp/SFProText-Light.ttf");
}
@font-face {
  font-family: "sfptr";
  font-style: normal;
  font-weight: 500;
  src: url("http://wtwt.pp.ua/temp/SFProText-Regular.ttf");
}
@font-face {
  font-family: "sfptb";
  font-style: normal;
  font-weight: 700;
  src: url("http://wtwt.pp.ua/temp/SFProText-Bold.ttf");
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 720px;
  margin: 0 auto;
}

.margin {
  width: 100%;
  height: 70px;
}

.btn-wrapper {
  height: 100px;
  position: relative;
}
.btn-wrapper > * {
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.customer-info {
  padding: 10px;
}
.customer-info__row {
  min-height: 56px;
  margin-bottom: 4px;
}
.customer-info__row_1col {
  background-color: #FAFAFA;
  padding: 6px 12px;
}
.customer-info__row_2col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 625px) {
  .customer-info__row_2col {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.customer-info__col {
  background-color: #FAFAFA;
  margin-right: 4px;
  width: 100%;
  padding: 6px 12px;
}
@media (min-width: 625px) {
  .customer-info__col {
    width: 50%;
  }
}
.customer-info__col_transparent {
  background-color: transparent;
  position: relative;
}
.customer-info__title {
  font: 18px sfptr;
  color: #666666;
}
.customer-info__data {
  font: 18px sfptb;
}
.customer-info__data_be {
  color: #007EFC;
}
.customer-info__data_bk {
  color: #263238;
}
.customer-info__data_r {
  color: #FF6464;
}

.footer {
  padding: 10px;
  font: 10px sfptr;
}
.footer__text {
  line-height: 15px;
  margin-bottom: 15px;
}
.footer__logo {
  width: 40px;
  display: block;
  margin: 47px auto 2px;
}
.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 10px;
  padding-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 360px) {
  .footer__menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
.footer__menu-item a {
  color: #007AFF;
  text-decoration: underline;
  font-weight: 800;
}
.footer__menu-item span {
  padding: 0 6px;
}
.footer__about {
  text-align: center;
  font-family: sfptb;
  padding-bottom: 8px;
}
.footer__about a {
  color: #007AFF;
  text-decoration: underline;
}
.footer__rights {
  text-align: center;
  padding-bottom: 10px;
}
.footer__rights:last-of-type {
  padding-top: 8px;
}

.header {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.header__col:last-of-type {
  text-align: right;
}
.header__logo-img {
  padding-top: 8px;
  padding-left: 4px;
}
.header__logo-name {
  color: #82BF64;
  font: 20px sfptb;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  margin-top: -10px;
  padding-left: 5px;
}
.header__title {
  padding-top: 10px;
  font: 48px sfptl;
  line-height: 22px;
  color: #82BF64;
  letter-spacing: -2px;
}
.header__transcription {
  font: 20px sfptb;
  text-transform: uppercase;
  line-height: 24px;
  color: #82BF64;
  padding-top: 18px;
}
.header_canceled .header__title {
  color: #FF6464;
}
.header_canceled .header__transcription {
  color: #FF6464;
}

.main-btn__wrapper {
  position: absolute;
  right: 0;
  top: 10px;
  width: 267px;
}
.main-btn__btn {
  width: 267px;
  height: 46px;
  border: 1px solid black;
  border-radius: 6px;
  background-color: black;
  color: white;
  font: 20px sfptr;
  cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: none;
  padding-top: 10px;
}
.main-btn__btn_success {
  border: 1px solid #82BF64;
  background-color: #82BF64;
}
.main-btn__btn_error {
  border: 1px solid #FF6464;
  background-color: #FF6464;
}
.main-btn__btn_cancel {
  border: 1px solid #D8D8D8;
  background-color: #D8D8D8;
}
.main-btn__additional {
  position: absolute;
  right: 0px;
  top: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.main-btn__img {
  width: 135px;
  margin: 8px 0 2px;
}
.main-btn__p {
  text-align: right;
  font: 13px sfptr;
  color: #161616;
}

.pay-info {
  padding: 10px;
}
.pay-info__header {
  font: 18px sfptr;
  color: #263238;
  height: 31px;
  background-color: #FAFAFA;
  padding: 4px 12px;
}
.pay-info__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 500px) {
  .pay-info__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.pay-info__logo {
  width: 111px;
  height: 111px;
  margin-left: 5px;
}
.pay-info__main {
  color: #161616;
  margin: 0 35px;
}
.pay-info__subheader {
  font: 13px sfptb;
  line-height: 16px;
  text-align: center;
  padding: 10px 0;
}
@media (min-width: 500px) {
  .pay-info__subheader {
    -moz-text-align-last: left;
         text-align-last: left;
    padding: 0;
  }
}
.pay-info__about {
  font: 13px sfptr;
  line-height: 16px;
}
.pay-info__price {
  font: 18px sfptb;
  min-width: 100px;
  text-align: right;
}

.pay-info__table {
  padding: 10px;
}
.pay-info__table-row {
  height: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
  font: 18px sfptr;
  font-weight: 800;
  border-top: 1px solid #898A8D;
  border-bottom: 1px solid #898A8D;
}
@media (min-width: 400px) {
  .pay-info__table-row {
    -ms-grid-columns: auto 137px;
    grid-template-columns: auto 137px;
  }
}
.pay-info__table-row .pay-info__table-right-cell {
  font-weight: 900;
  font: 22px sfptb;
  border-left: 1px solid #898A8D;
}
.pay-info__table-row_header {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.pay-info__table-row_header .pay-info__table-left-cell {
  font: 18px sfptr;
  font-weight: 300;
}
.pay-info__table-row_header .pay-info__table-right-cell {
  font: 18px sfptr;
  font-weight: 800;
  border-left: 1px solid transparent;
}
.pay-info__table-left-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 5px;
}
.pay-info__table-left-cell span {
  display: inline-block;
  padding-top: 10px;
}
@media (min-width: 400px) {
  .pay-info__table-left-cell span {
    width: 180px;
  }
}
.pay-info__table-left-cell span:last-of-type {
  padding-top: 14px;
}
.pay-info__table-right-cell {
  text-align: right;
  padding-right: 5px;
  padding-top: 10px;
}