doctype
html.wjs-MobileHeightFix
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet" href="css/workpage.css")
  body
    .linksWrapper
      a(href="./pages/bill.html") bill.html
      a(href="./pages/bill_paid.html") bill_paid.html
      a(href="./pages/bill_partially_paid.html") bill_partially_paid.html
      a(href="./pages/bill_canceled.html") bill_canceled.html
      a(href="./pages/feedback_for_admin.html") feedback_for_admin.html