// ↓↓↓ MODULE: FOOTER ↓↓↓
style
  include footer.css
.footer
  p.footer__text *Що таке оплата різними картками? Ви можете поділити вартість замовлення на кілька частин. Оплата замовлення повністю або його частини можлива карткою еПідтримка.
  p.footer__text Наприклад, вартість квитка 1300грн. Ви можете розділити його на три частини: 1000грн з картки еПідтримка, 250грн з іншої карти еПідтримка, та 50 грн карткою Вашого банку.
  p.footer__text Важливо: у Вас є дві доби на оплату різними картами. Якщо повна вартість Вашого замовлення не буде покрита, гроші автоматично повертаються на Ваші рахунки. Ви завжди можете повернутися на сторінку оплати різними картами з цього посилання, яке Ви отримали на Ваш email.

  img.footer__logo(alt="logo" src="../img/logo.png")

  .footer__menu
    .footer__menu-item
      a(href="https://zhabka.in.ua/") Про Жабку
      span 🐸
    .footer__menu-item
      a(href="https://zhabka.in.ua/") Карткові платежі
      span 🤑
    .footer__menu-item
      a(href="https://zhabka.in.ua/") Для бізнесу
      span 🚀

  .footer__about
    a(href="https://zhabka.in.ua/") Жабка
    |
    |
    span - перший в Україні крос-платформений платіжний сервіс для фізичних осіб та бізнесу

  p.footer__rights Загартовано ФОПами для ФОПів
  p.footer__rights © All Rights Reserved. 4ek LLC.
  //- p.footer__rights Ви отримали цей лист, тому що є клієнтом нашого сервісу. Якщо ви не хочете більше отримувати наші листи
    |
    |
    a(href="#") натисниіть сюди
// ↑↑↑ /MODULE: FOOTER ↑↑↑