// ↓↓↓ MODULE: HEADER ↓↓↓
style
  include pay-table.css
.pay-info__table
  .pay-info__table-row.pay-info__table-row_header
    .pay-info__table-left-cell
      span Коштів повернуто:
    .pay-info__table-right-cell
      span ₴ 0,00
  .pay-info__table-row
    .pay-info__table-left-cell
      span Баланс:
    .pay-info__table-right-cell
      span ₴ 17 102

// ↑↑↑ /MODULE: HEADER ↑↑↑