@font-face {font-family: sfptb; src: url(../fonts/SFProText-Bold.ttf);}
@font-face {font-family: sfptl; src: url(../fonts/SFProText-Light.ttf);}
@font-face {font-family: sfptr; src: url(../fonts/SFProText-Regular.ttf);}