// @font-face {font-family: sfptb; src: url(../fonts/SFProText-Bold.ttf);}
// @font-face {font-family: sfptl; src: url(../fonts/SFProText-Light.ttf);}
// @font-face {font-family: sfptr; src: url(../fonts/SFProText-Regular.ttf);}


@font-face {font-family: c; src: url(../fonts/consola.ttf);}
@font-face {font-family: cb; src: url(../fonts/consolab.ttf);}


@font-face {
    font-family: 'sfptl';
    font-style: normal;
    font-weight: 100;
    src: url('http://wtwt.pp.ua/temp/SFProText-Light.ttf');
}
@font-face {
    font-family: 'sfptr';
    font-style: normal;
    font-weight: 500;
    src: url('http://wtwt.pp.ua/temp/SFProText-Regular.ttf');
}
@font-face {
    font-family: 'sfptb';
    font-style: normal;
    font-weight: 700;
    src: url('http://wtwt.pp.ua/temp/SFProText-Bold.ttf');
}


// https://fonts.cdnfonts.com/css/sf-pro-display
// @font-face {
//     font-family: 'sfptl';
//     font-style: normal;
//     font-weight: 100;
//     src: local('SF Pro Display'), url('https://fonts.cdnfonts.com/s/59278/SFPRODISPLAYREGULAR.woff') format('woff');
// }
// @font-face {
//     font-family: 'sfptr';
//     font-style: normal;
//     font-weight: 500;
//     src: local('SF Pro Display'), url('https://fonts.cdnfonts.com/s/59278/SFPRODISPLAYREGULAR.woff') format('woff');
//     // src: local('SF Pro Display'), url('https://fonts.cdnfonts.com/s/59278/SFPRODISPLAYMEDIUM.woff') format('woff');
// }
// @font-face {
//     font-family: 'sfptb';
//     font-style: normal;
//     font-weight: 700;
//     src: local('SF Pro Display'), url('https://fonts.cdnfonts.com/s/59278/SFPRODISPLAYREGULAR.woff') format('woff');
//     // src: local('SF Pro Display'), url('https://fonts.cdnfonts.com/s/59278/SFPRODISPLAYBOLD.woff') format('woff');
// }