// ↓↓↓ MODULE: HEADER ↓↓↓
style
  include pay-info.css
.pay-info
  h3.pay-info__header Рахунок на оплату:
  .pay-info__row
    img.pay-info__logo(alt="pay logo" src="../img/atlas.png")
    .pay-info__main
      h4.pay-info__subheader Atlas Weekend 2022
      .pay-info__about Абонемент на 3 дні (8-10 липня) Кількість квитків 2, VIP-Standing на 1 день (9 липня) Кількість квитків 2, Абонемент VIP-Standing на 2 дні (7–8 липня) Кількість квитків 1
    .pay-info__price ₴ 17 102

// ↑↑↑ /MODULE: HEADER ↑↑↑